<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>COVID-19</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <a class="anchor-header" href="/">Home</a>
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">COVID-19 INFORMATION</p>
  </nav>

  <body>
    <div class="container">

